/**
* CSS
*/
* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 12px;
	font-family: 'Lato',sans-serif;
	color: #a29d91; 
	background: #fff;
}

.cl{height: 45px;}

a:link { text-decoration: none; color: #a29d91; }
a:active { text-decoration: none;color: #FFFFFF; background: #C4BBAB; }
a:visited { text-decoration: none; color: #a29d91; }
a:hover { text-decoration: none; background: #FFFA92; }

a img {
	border: 0;
	margin: 0;
	padding: 0;
}


#img-container a:hover {
	background: none;
	border: 0;
	margin: 0;
	padding: 0;
}

#menu {
    width: 215px;
    overflow: auto;
    top: 0;
    bottom: 0;
	left: 20px;
    position: fixed;
    height: 100%;
	background-color: #fff;
}

#menu ul {
	list-style: none;
	margin: 30px 0 12px 0;
	line-height: 22px;
}


#content {
    height: 100%;
    margin: 0 0 0 275px;
    top: 0;
}

.container {
    padding: 35px 5px 20px 25px;
}

#content p { width: 400px; margin-bottom: 9px; }

p {
    margin: 0 0 9px 0;
}

h1 { font-size: 32px; }
h2 { font-size: 24px; }
h3 { font-size: 16px; }
h4 { font-size: 12px; }

#img-container	{ position: relative; width: 650px; margin: 16px 0 0 0; padding: 0 30px 0 0; }
#img-container p	{ width: 800px; margin: 0; padding: 0 0 12px 0; }
img { display: block; border: 0; margin: 0; padding: 0; }

.about a:link { text-decoration: none; background: #FFFA92; }
.about a:visited { text-decoration: none; background: #FFFA92; }

#about2 a:link { text-decoration: underline; background: none; }
#about2 a:visited { text-decoration: underline; background: none; }
#about2 a:hover { text-decoration: underline; background: none; }

#once { clear: left; }



hr.line {
height: 1px;
border: 30px;
color: #D9D1BF;
background-color: #D9D1BF;
width: 170px;
} 

hr.line2 {
height: 15px;
border: 0;
color: #FFFFFF;
width: 10px;
float: left;
}

.sp { height: 10px; }

.fadehover001 {
	position: absolute;
	}
	
.fadehover002 {
	position: absolute; left: 200px;
	}
	
.fadehover003 {
	position: absolute; left: 400px;
	}
	
.fadehover004 {
	position: absolute; top: 135px;
	}

.fadehover005 {
	position: absolute; top: 135px; left: 200px;
	}
	
.fadehover006 {
	position: absolute; top: 135px; left: 400px;
	}

.more {
	position: absolute; top: 270px; left: 200px;
}
img.a {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	width: 200px;
	height: 135px;
    }
 
img.b {
	position: absolute;
	left: 0;
	top: 0;
	width: 200px;
	height: 135px;
	}
	
#header	{ position: absolute; width: 600px; height: 15px; margin: 0; padding: 0; }

.spacer {height: 20px;}

#footer	{ position: absolute; top: 1350px; width: 600px; height: 100px; margin: 0; padding: 0; }

#footer2	{ position: relative;  width: 600px; height: 50px; margin: 0; padding: 0; }

.align {margin: 0; float: left;}

.move {position: absolute; right: 0; top: 0;}

.move p {text-align: right;}

.big {margin: 40px 0 0 0; }

.about {margin: 143px 0 0 0; }

.error {
	font-size: 16px;
	font-family: 'Lato',sans-serif;
	color: #a29d91; 
	background: #fff;
	text-align: center;
}

#splash {
	font-size: 12px;
	font-family: 'Lato',sans-serif;
	color: #a29d91; 
	background: #fff;
	text-align: center;
}

#splash img{
    display: block;
    margin-left: auto;
    margin-right: auto 
}