body {
  padding-top: 54px;
  font-family: 'Open Sans', serif;
  color: #868e96;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', serif;
  color: #343a40;
}

.bg-dark {
  background-color: #4EBBFF !important;
}

.list-group-item {
  padding: .25rem .1rem;
  border: none;
}

.md-2{
  width: auto !important;
}

.title {
  color: #4EBBFF;
  margin-top: 6rem;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

a {
  color: #4EBBFF; }
  a:hover, a:focus, a:active {
    color: #824027; }
